<section class="container" ng-controller="investCtrl">
  <!-- Breadcrumbs-->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="#">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">Balance</li>
  </ol>

  <a ui-sref="payment" style="text-decoration: none;">
    <button class="btn btn-primary btn-sm" ng-disabled="data.makeInvestment" type="button">
      <i class="far fa-credit-card"></i> Make Investment
    </button>
  </a>

  <br />
  <br />
  <div class="card mb-3" ng-repeat="investment in investments">
    <div class="card-header">
      <i class="fas fa-table"></i>  Investment Summary
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered">
          <tbody>
            <tr>
              <td class="w-25 p-3">Package Name</td>
              <td class="w-25 p-3"><%investment.subscription.name%></td>
            </tr>
            <tr>
              <td class="w-25 p-3">Amount Invested</td>
              <td class="w-25 p-3"><%investment.investmentPaid%></td>
            </tr>
            <tr >
              <td class="w-25 p-3">Earning Periods</td>
              <td class="w-25 p-3"><%investment.earningMethod%></td>
            </tr>
            <tr>
              <td class="w-25 p-3">Status</td>
              <td class="w-25 p-3"><%investment.status%></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="card-footer text-muted">
      <%investment.updated_at%>
    </div>
  </div>
</section>
