<section ng-controller="profileCtrl" data-ng-init="getId()">
  <!-- Breadcrumbs-->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="#">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">Profile</li>
  </ol>

  <div class="card w-75">
    <div class="card-body">
      <dl class="row">
        <dt class="col-sm-3">Bank:</dt>
        <dd class="col-sm-9">
          <input class="form-control" type="text" value="<%user.bankName%>" placeholder="" readonly />
        </dd>

        <dt class="col-sm-3">Account Name:</dt>
        <dd class="col-sm-9">
          <input class="form-control" type="text" value="<%user.acctName%>" placeholder="" readonly />
        </dd>

        <dt class="col-sm-3">Account Number:</dt>
        <dd class="col-sm-9">
          <input class="form-control" type="text" value="<%user.acctNumber%>" placeholder="" readonly />
        </dd>

        <dt class="col-sm-3">Phone:</dt>
        <dd class="col-sm-9">
          <input class="form-control" type="text" value="<%user.phoneNumber%>" placeholder="" readonly />
        </dd>

        <dt class="col-sm-3">Address:</dt>
        <dd class="col-sm-9">
          <input class="form-control" type="text" value="<%user.address%>" placeholder="" readonly />
        </dd>
        <dt class="col-sm-3">City:</dt>
        <dd class="col-sm-9">
          <input class="form-control" type="text" value="<%user.city%>" placeholder="" readonly />
        </dd>
        <dt class="col-sm-3">State:</dt>
        <dd class="col-sm-9">
          <input class="form-control" type="text" value="<%user.state%>" placeholder="" readonly />
        </dd>
        <dt class="col-sm-3">Country:</dt>
        <dd class="col-sm-9">
          <input class="form-control" type="text" value="<%user.country%>" placeholder="" readonly />
        </dd>
        
      </dl> 

      <a class="btn btn-outline-primary offset-md-3" ui-sref="editProfile({id: id})" role="button">Edit Profile</a>
    </div>
  </div>

  <br />
  <br />
</section>